@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body
{
  font-family: 'Work Sans', sans-serif;

  --bg-green: #464e3d;
  --bg-green-overlay: rgba(0,0,0,0.1);
  --fg-yellow: #EAC61F;
  --fg-red: #f84008;
  --fg-darkgrey : #2c2c29;
  --fg-green: #75bc45;
  --fg-lightgrey: #b7b3a1;
  --fg-grey: #7c7b72;
} 

body, 
body #feed .badge,    
body #feed .entry {
  background-color: var(--bg-green);
  color: var(--fg-lightgrey) 
}

/* body {
	  /* background-image: url("skully.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;  }*/

 

body hr {
  color: rgba(255, 255, 255, 0.096)
}

body #feed {
  width: 88%;
  margin: 0 auto;
}

body #feed .entry {
  margin-top: 16px;
  background-color: var( --bg-green-overlay );
  padding: 4px 4px 8px 4px;
  /* border: 1px solid; */
  border-radius: 5px;  
  }
  
  body #feed .entry:hover {
  /* background-color: rgba(255, 255, 255, 0.068); */
  }
  
  body #feed .entry h2 {
    color: var(--fg-yellow);
    line-height: 0px;    
  }
  

  body #feed .entry .time {
    font-size: small;
    padding: 8px 8px;    
    margin: 0;
  }
    
  body #feed .entry .time .label {
    font-weight: bold
  }

  body #feed .entry .subject {
    padding: 2px 4px;
    color: var(--fg-darkgrey);
    margin: 0;
    background: var(--fg-yellow);
    border-radius: 5px; 
    margin-right: 6px;
    margin-left: 0px;
  }

  body #feed .entry .date {
    color: var(--fg-grey);
    margin: 0;
    /* background: var(--fg-green); */
    padding: 0px 4px;
    border-radius: 5px; 
    margin-right: 0px;
    margin-left: 0px;
    float: right;
  }

  body #feed .entry .text {
    padding: 6px;
    color: var(--fg-lightgrey);
    margin: 0;
    background: var(--fg-darkgrey);
    border-radius: 5px;  
    padding-left: 4px;
  }

  body #feed .entry .note {
    font-size: small;
    padding: 8px 8px;    
    margin: 0;
  }

  body #feed .entry .media {
    max-width:100%;
    max-height:100%;
    align-content: center;
  }  
  
  body #feed .entry .tag { 
    color:var( --fg-yellow );
    border: 1px solid var( --fg-yellow );
    border-radius: 16px;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 4px;    
  }

  body #feed .entry ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 8px 0;
  }

  body #feed .entry li { 
    color:var( --fg-lightgrey );
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 8px;
    letter-spacing: 0.5px;
    font-weight: bold;
  }

  body #feed .entry .marktrue
  {
    color: var(--fg-lightgrey);
  }
  body #feed .entry .markfalse
  {
    color: var(--fg-red);
  }
  
  body #feed .entry .tag:hover { 
    background: rgba(255,210,0,0.25);
    color:var( --fg-yellow );
  }

  body #feed .entry .bar { 
    color: rgb(250, 131, 34);
    border: 1px solid var( --fg-yellow );
    border-radius: 16px;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 8px;  
  }

  body #feed .entry .link { color:var( --fg-yellow ); border: 1px solid var( --fg-yellow ); border-radius: 16px; }
  body #feed .entry .link:hover { background: rgba(255,210,0,0.25); color:var( --fg-yellow ); }