@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body
{
  font-family: 'Work Sans', sans-serif;

  --bg-green: rgb(70, 78, 61);
  --bg-green-overlay: rgba(0,0,0,0.1);
  --fg-yellow: #EAC61F;
  --fg-grey: #888888;
}

body,
body #feed .badge,
body #feed .entry {
  background-color: var(--bg-green);
  color: #c9cacc;
}

body {
	  /* background-image: url("skully.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;  */

}

body hr {
  color: rgba(255, 255, 255, 0.096)
}

body #feed {
  width: 66%;
  margin: 0 auto;
}

body #feed .entry {
  margin-top: 16px;
  background-color: var( --bg-green-overlay );
  padding: 16px;
  border: 1px solid var(--fg-grey);
  border-radius: 5px;  
  }
  
  body #feed .entry:hover {
  /* background-color: rgba(255, 255, 255, 0.068); */
  }
  
  body #feed .entry h2 {
    color: var(--fg-yellow);
    line-height: 0px;    
  }
  
  body #feed .entry .title {
    font-weight: bold;
    line-height: 0px;
    padding-bottom: 16px;
  }
  body #feed .entry .time {
    font-size: small
  }
  body #feed .entry .text p {
    padding-top: 0px;
  }
  body #feed .entry .note {
    font-size: small
  }
  
  body #feed .entry .time .label {
    font-weight: bold
  }

  body #feed .entry .media {
    max-width:100%;
    max-height:100%;
    align-content: center;
  }  
  
  body #feed .entry .tag { 
    color:var( --fg-yellow );
    border: 1px solid var( --fg-yellow );
    border-radius: 16px;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 8px;
    
  }
  
  body #feed .entry .tag:hover { 
    background: rgba(255,210,0,0.25);
    color:var( --fg-yellow );
  }

  body #feed .entry .bar { 
    color: rgb(250, 131, 34);
    border: 1px solid var( --fg-yellow );
    border-radius: 16px;
    text-decoration: none;
    font-size: small;
    padding: 0 10px;
    margin-right: 8px;  
  }

  body #feed .entry .link { color:var( --fg-yellow ); border: 1px solid var( --fg-yellow ); border-radius: 16px; }
  body #feed .entry .link:hover { background: rgba(255,210,0,0.25); color:var( --fg-yellow ); }